body {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  flex-grow: 1;
}

.parag {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1f3f68;
}

.head-1 {
  font-weight: 300;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1f3f68;
}

.head-2 {
  font-weight: 500;
  font-size: 44px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  text-align: center;
}

.head-3 {
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.head-4 {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
}

.field {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

/* Стили блока MENU */
.menu {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
}

/* Стили блока Hero */
.hero {
  background: linear-gradient(
    0deg,
    #ebf3fb 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
  min-height: 768px;
}
.hero-border {
  background-image: url(img/illustration.png);
  background-repeat: no-repeat;
  background-position: right center;
  margin-right: 113px;
  margin-left: 113px;
}
.hero-content {
  width: 50%;
  margin-top: 115px;
  box-sizing: border-box;
}

.parag-h1 {
  opacity: 0.6;
  margin-top: 32px;
}
.top-button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 00.04em;
  color: #ffffff;
  text-align: center;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 190px;
  margin-top: 86px;
}

/* Стили блока What-we-do*/

.h3-wwd {
  margin-top: 64px;
  margin-bottom: 64px;
}

.card-box {
  display: flex;
  justify-content: space-between;
  margin-left: 113px;
  margin-right: 113px;
}

.card {
  width: 30%;
  min-height: 480px;
  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}
.card-img {
  padding-top: 44px;
  padding-left: 25%;
  align-self: center;
}
.h4-wwd {
  padding-left: 32px;
  padding-right: 44px;
  padding-top: 45px;
  padding-bottom: 14px;
  text-align: left;
  letter-spacing: 0.05em;
}
.parag-wwd {
  padding-left: 32px;
  padding-right: 44px;
  padding-bottom: 37px;
}

.card-link {
  left: 32px;
  bottom: 32px;
  text-decoration-line: none;
  position: absolute;
}

.card-link::after {
  content: "\2192";
}

/* Стили блока Our-project*/

.h3-op {
  margin-top: 64px;
}
.parag-op {
  width: 75%;
  margin: 32px auto 64px;
  opacity: 1;
  text-align: center;
}

.op-border {
  margin-left: 113px;
  margin-right: 113px;
}

.project-item {
  width: 100%;
  position: relative;
  flex-grow: 1;
}
.project-img {
  width: 100%;
  border-radius: 10px;
}

.project-text {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: absolute;
  top: 64px;
  right: 64px;
}
.project-text-2 {
  top: 32px;
  left: 32px;
  text-align: left;
}
.project-img-box {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.project-item-margin {
  margin-right: 32px;
}

/* Стили блока Footer*/

.footer {
  border: 2px solid #316099;
  background: #244b7a;
  margin-top: 112px;
}
.footer-top {
  margin: 0 auto;
  width: auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.footer-content-box {
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 113px;
  width: 40%;
  box-sizing: border-box;
}

.h3-footer {
  padding-top: 91px;
  width: 340px;
  color: #ffffff;
  text-align: left;
}
.parag-footer {
  width: 495px;
  opacity: 0.6;
  color: #ffffff;
  margin-top: 32px;
  padding-bottom: 96px;
}
.footer-button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #5a98d0;
  text-decoration-line: none;
  padding: 15px 50px;
  margin-right: 114px;
  max-height: 56px;
  max-width: 237px;
  display: inline-block;
  align-self: center;
  align-content: center;
}
.footer-line {
  opacity: 0.4;
  color: #ffffff;
}

.footer-list-box {
  margin-left: 113px;
  margin-right: 113px;
  margin-top: 64px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.footer-list-item {
  width: 359px;
  padding-left: 19px;
}
.p-copy-right {
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: 113px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}

/* Стили страницы Contacts */
.menu-contacts {
  margin-left: 113px;
  margin-right: 113px;
}
.contacts-title {
  background-image: url(img/contacts-header-img.png);
  background-repeat: no-repeat;
  background-position: center;
}
.h2-contacts {
  padding-top: 100px;
  color: #ffffff;
}
.parag-contacts {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 293px;
  padding-right: 293px;
  padding-bottom: 106px;
}
.contacts-content {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.contacts-content-info {
  border-radius: 10px;
  margin-left: 212px;
  padding-top: 54px;
  padding-bottom: 54px;
  width: 30%;
}
.contacts-content-img {
  align-content: center;
  margin-bottom: 36px;
}
.contacts-item {
  width: 70%;
  padding-left: 20px;
  padding-bottom: 20px;
}

.h4-cont-item {
  margin-top: 20px;
}
.parag-cont-item {
  padding-top: 24px;
  padding-right: 20px;
  font-weight: 300;
  opacity: 0.6;
}
.contacts-content-list {
  list-style-type: none;
}

/* Стили для SEND-FORM */

.contacts-content-send-form {
  background: #ffffff;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  width: 35%;
  margin-right: 212px;
}

.h4-send-form {
  padding-top: 56px;
  padding-left: 56px;
}

.full-name {
  margin-right: 56px;
  margin-top: 48px;
}
.e-mail {
  margin-right: 56px;
  margin-top: 32px;
}
.message {
  margin-right: 56px;
  margin-top: 32px;
}

input[type="text"] {
  width: 90%;
  height: 72px;
  margin-left: 56px;
  align-self: center;
}
label[for="full-name"] {
  margin-left: 56px;
  margin-bottom: 18px;
}
input[type="text"]::placeholder {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.2;
  align-self: center;
}
input[type="email"] {
  width: 90%;
  height: 72px;
  margin-left: 56px;
  align-self: center;
}
label[for="e-mail"] {
  margin-left: 56px;
  margin-bottom: 18px;
}
input[type="email"]::placeholder {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.2;
}
textarea {
  width: 90%;
  margin-left: 56px;
  align-self: center;
}
label[for="message"] {
  margin-left: 56px;
  margin-bottom: 18px;
}
textarea::placeholder {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.2;
  align-self: center;
}

.send-button {
  width: 80%;
  margin-left: 56px;
  margin-top: 72px;
  margin-bottom: 56px;
  padding-top: 23px;
  padding-bottom: 23px;
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

/* Стили для MAP */
.map {
  margin: 96px 213px;
}

/* Стили для FOOTER-CONTACTS */
.footer-bottom {
  box-sizing: border-box;
}
.footer-list-bloks {
  margin-top: 97px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-grow: 1;
}

.footer-list-card {
  width: 30%;
  padding-left: 30px;
  padding-right: 30px;
  list-style-type: none;
  box-sizing: border-box;
}
.cont {
  padding-left: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  list-style-type: none;
}

.logo-2 {
  width: 30%;
  margin-bottom: 33px;
  box-sizing: border-box;
}
.h4-fotter-cont-logo {
  width: 70%;
  margin-bottom: 33px;
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: start;
  box-sizing: border-box;
}
.h4-footter-cont {
  margin-bottom: 33px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.item {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.item-left {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  box-sizing: border-box;
}
.item-right {
  width: 80%;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: start;
  box-sizing: border-box;
}

/* АДАПТАЦИЯ ПОД ПЛАНШЕТ */
@media (max-width: 1024px) {
  .hero-border {
    background-size: 50%;
    background-position: right bottom;
    margin-left: 0;
    margin-right: 0;
    padding-right: 32px;
    padding-left: 32px;
  }
  .menu {
    margin-top: 36px;
  }
  .head-1 {
    max-width: 504px;
  }
  .parag-h1 {
    max-width: 425px;
  }
  .hero-content {
    width: 100%;
  }
  .top-button {
    margin-top: 72px;
  }
  .card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    min-height: 448px;
    margin-bottom: 32px;
    width: auto;
  }
  .h4-wwd {
    padding-left: 29px;
    padding-right: 41px;
    padding-top: 48px;
    padding-bottom: 13px;
  }
  .parag-wwd {
    padding-left: 29px;
    padding-right: 54px;
    padding-bottom: 27px;
  }
  .card-link {
    padding-left: 29px;
    padding-bottom: 29px;
    max-width: 73px;
  }
  .parag-op {
    width: auto;
    opacity: 1;
    text-align: center;
    color: #222222;
    margin-top: 32px;
  }
  .project-text-2 {
    font-size: 28px;
    line-height: 46px;
  }
  .footer {
    margin-top: 109px;
    background-color: #316099;
  }
  .h3-footer {
    padding-top: 47px;
    max-width: 336px;
  }
  .parag-footer {
    padding-bottom: 64px;
    max-width: 336px;
  }
  .footer-button {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 124px;
    max-height: 32px;
    max-width: 133px;
  }
  .footer-content-box {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer-line {
    max-width: 649px;
  }
  .footer-list-box {
    flex-direction: column;
    margin-left: 124px;
    margin-right: 124px;
  }
  .footer-list-item {
    padding-bottom: 25px;
  }
  .p-copy-right {
    margin-top: 39px;
    margin-left: 125px;
  }
}

/* АДАПТАЦИЯ ПОД ТЕЛЕФОН */
@media (max-width: 667px) {
  .top {
    width: 100%;
  }
  .head-1 {
    width: 100%;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 12px;
    text-align: center;
  }
  .parag-h1 {
    width: 100%;

    text-align: center;
    margin-top: 12;
  }
  .header {
    padding-top: 24px;
  }
  .hero-border {
    margin-left: 0;
    margin-right: 0;
  }
  .hero-content {
    margin-top: 36px;
    width: auto;
  }
  .top-button {
    font-size: 12px;
    line-height: 26px;
    padding: 4px 8px;
    margin-top: 32px;
    max-width: 108px;
    margin-bottom: 41px;
    align-self: center;
  }
  .hero-border {
    display: flex;
    flex-direction: column;
    background-image: none;
  }
  .hero {
    min-height: 376px;
    padding-bottom: 41px;
    box-sizing: border-box;
  }
  .h3-wwd {
    font-size: 24px;
    line-height: 28px;
    margin-top: 48px;
    margin-bottom: 32px;
    margin-left: 17px;
    margin-right: 17px;
  }
  .card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  .card {
    margin-bottom: 32px;
    width: auto;
    min-height: 451px;
  }
  .h4-wwd {
    padding-left: 29px;
    padding-right: 41px;
    padding-top: 48px;
    padding-bottom: 13px;
  }
  .parag-wwd {
    padding-left: 29px;
    padding-right: 54px;
    padding-bottom: 27px;
  }
  .card-link {
    padding-left: 29px;
    margin-bottom: 21px;
  }

  .op-border {
    margin-left: 0;
    margin-right: 0;
  }
  .h3-op {
    font-size: 24px;
    line-height: 28px;
  }
  .parag-op {
    font-size: 16px;
    line-height: 26px;
    padding-left: 16px;
    padding-right: 17px;
  }
  .project-item {
    padding-left: 16px;
    padding-right: 17px;
  }
  .project-text {
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
    padding-right: 17px;
  }
  .project-text-2 {
    left: 16px;
    top: 26px;
    padding-left: 16px;
  }
  .our-project-content-box {
    flex-direction: column;
  }
  .project-img-box {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding-bottom: 16px;
  }
  .project-item-margin {
    margin-top: 0;
  }
  .footer {
    margin-top: 64px;
    border: none;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer-content-box {
    margin-left: 16px;
    width: 100%;
  }
  .h3-footer {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  .parag-footer {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }
  .footer-button {
    padding-bottom: 4px;
    padding-top: 4px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
    max-height: 31px;
    max-width: 108px;
  }
  .footer-list-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    align-items: flex-start;
  }
  .footer-list-item {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }
  .p-copy-right {
    align-self: center;
    margin-top: 37px;
    margin-bottom: 32px;
    padding-left: 15px;
    padding-right: 17px;
  }
}
