@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 376px;
  min-height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-grow: 1;
}
.wrapper .top header {
  margin: 0 auto;
  width: 100%;
  min-height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: center;
}
.wrapper .top header .menu {
  margin: 0 auto;
  margin-top: 16px;
  width: 340px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.wrapper .top header .menu__home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: center;
}
.wrapper .top header .menu__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: center;
}
.wrapper .top main {
  margin: 0 auto;
  width: 100%;
  min-height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: center;
}
.wrapper .top main .hero {
  margin: 0 auto;
  width: 100%;
  min-height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: center;
  background: linear-gradient(0deg, #ebf3fb 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.wrapper .top main .hero .hero-block {
  margin: 0 auto;
  width: 340px;
  height: auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.wrapper .top main .hero .hero-block__content {
  margin: 0;
  margin-top: 28px;
  width: 343px;
  height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top main .hero .hero-block__content__head {
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 4%;
  text-align: center;
  color: #1f3f68;
}
.wrapper .top main .hero .hero-block__content__parag {
  margin-top: 12px;
  width: 343px;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 5%;
  text-align: center;
  color: #1f3f68;
}
.wrapper .top main .hero .hero-block__content__button {
  font-weight: normal;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 10px;
  border: none;
  background-color: #5a98d0;
  color: #ffffff;
  margin-top: 32px;
  padding: 1px 1px;
  width: 108px;
  height: 27px;
  display: inline-block;
  text-decoration: none;
  align-self: center;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}
.wrapper .top main .hero .hero-block__illustration {
  margin: 0;
  margin-top: 107px;
  margin-bottom: 94px;
  width: 554px;
  height: 376px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: center;
  display: none;
}
.wrapper .top main .what-we-do {
  margin: 0 auto;
  margin-top: 48px;
  width: 100%;
  min-height: 1515px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: center;
}
.wrapper .top main .what-we-do .what-we-do-block {
  margin: 0 auto;
  width: 340px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.wrapper .top main .what-we-do .what-we-do-block__head {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
}
.wrapper .top main .what-we-do .what-we-do-block__card-box {
  margin: 0;
  margin-top: 32px;
  width: 340px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.wrapper .top main .what-we-do .what-we-do-block__card-box__card {
  margin-top: 32px;
  width: 335px;
  min-height: 457px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}
.wrapper .top main .what-we-do .what-we-do-block__card-box__card__img {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: center;
  position: relative;
}
.wrapper .top main .what-we-do .what-we-do-block__card-box__card__img__img1 {
  height: 120px;
  top: 0;
  left: 0;
}
.wrapper .top main .what-we-do .what-we-do-block__card-box__card__img__img2 {
  top: -30px;
  position: absolute;
}
.wrapper .top main .what-we-do .what-we-do-block__card-box__card__head {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 5%;
  margin-top: 48px;
  margin-left: 30px;
  width: 264px;
  text-align: left;
  color: #1f3f68;
}
.wrapper .top main .what-we-do .what-we-do-block__card-box__card__content {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 5%;
  margin-top: 13px;
  margin-left: 30px;
  width: 264px;
}
.wrapper .top main .what-we-do .what-we-do-block__card-box__card__link {
  margin-top: 13px;
  margin-left: 30px;
  margin-bottom: 21px;
  width: 264px;
  text-decoration-line: none;
}
.wrapper .top main .what-we-do .what-we-do-block__card-box__card__link::after {
  content: "→";
}
.wrapper .top main .our-project {
  margin: 0 auto;
  margin-top: 64px;
  width: 100%;
  min-height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: center;
}
.wrapper .top main .our-project .our-project-block {
  margin: 0 auto;
  width: 340px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: center;
}
.wrapper .top main .our-project .our-project-block__head {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
}
.wrapper .top main .our-project .our-project-block__content {
  margin: 0 auto;
  margin-top: 32px;
  width: 340px;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 5%;
  text-align: center;
  color: #000000;
}
.wrapper .top main .our-project .our-project-block__box {
  margin: 0;
  margin-top: 82px;
  width: inherit;
  min-height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top main .our-project .our-project-block__box__item {
  width: 343px;
  height: 255px;
  position: relative;
  margin-top: 16px;
  width: 340px;
}
.wrapper .top main .our-project .our-project-block__box__item__first {
  width: 343px;
  height: 255px;
  position: relative;
  margin-top: 0;
  width: 340px;
  height: 144px;
}
.wrapper .top main .our-project .our-project-block__box__item__first__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: #ffffff;
  position: absolute;
  top: 26px;
  left: 16px;
  text-align: left;
  font-size: 16px;
  line-height: 16px;
  top: 16px;
  right: 16px;
  text-align: right;
  z-index: 99;
}
.wrapper .top main .our-project .our-project-block__box__item__img {
  width: 100%;
  border-radius: 10px;
}
.wrapper .top main .our-project .our-project-block__box__item__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: #ffffff;
  position: absolute;
  top: 26px;
  left: 16px;
  text-align: left;
}
.wrapper footer {
  margin: 0 auto;
  margin-top: 112px;
  width: 100%;
  min-height: 542px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: center;
  background-color: #316099;
}
.wrapper footer .footer-top {
  margin: 0 auto;
  width: 100%;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: center;
}
.wrapper footer .footer-top .footer-top-block {
  margin: 0 auto;
  margin-top: 18px;
  width: 340px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.wrapper footer .footer-top .footer-top-block__content {
  margin: 0;
  width: 343px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.wrapper footer .footer-top .footer-top-block__content__head {
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0%;
  width: 340px;
  color: #ffffff;
  text-align: center;
}
.wrapper footer .footer-top .footer-top-block__content__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 5%;
  margin-top: 32px;
  width: 90%;
  opacity: 0.6;
  color: #ffffff;
  text-align: center;
}
.wrapper footer .footer-top .footer-top-block__button-box {
  margin: 0;
  margin-top: 40px;
  width: 343px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: center;
}
.wrapper footer .footer-top .footer-top-block__button-box__button {
  font-weight: normal;
  font-size: 12px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 10px;
  border: none;
  background-color: #5a98d0;
  color: #ffffff;
  padding: 1px 1px;
  width: 108px;
  display: inline-block;
  align-self: center;
  border-radius: 0;
  text-decoration-line: none;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4%;
}
.wrapper footer .footer-top .footer-line {
  margin-top: 40px;
  width: 100%;
  opacity: 0.4;
  color: #ffffff;
}
.wrapper footer .footer-bottom {
  margin: 0 auto;
  width: 100%;
  min-height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: center;
}
.wrapper footer .footer-bottom .footer-bottom-block {
  margin: 0 auto;
  margin-top: 32px;
  width: 340px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.wrapper footer .footer-bottom .footer-bottom-block__list-item {
  margin-right: 0;
  margin-top: 16px;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 5%;
  list-style: none;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  justify-content: left;
  font-weight: 300;
}
.wrapper footer .footer-bottom .footer-bottom-block__list-item__marker {
  padding-left: 0;
}
.wrapper footer .footer-bottom .footer-bottom-block__list-item__text {
  margin-left: 23px;
  width: 304px;
}
.wrapper footer .footer-bottom .footer-bottom-block__list-item:first-child {
  margin-top: 0;
}
.wrapper footer .footer-bottom .footer-bottom-copy-right {
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 340px;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 5%;
  text-align: center;
  color: #ffffff;
  opacity: 0.4;
}/*# sourceMappingURL=media-mobile.css.map */