@charset "UTF-8";
body {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1366px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.wrapper .top {
  max-width: 1366px;
  margin: 0 auto;
  flex-grow: 1;
}
.wrapper .top .top-main {
  width: 1366px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.wrapper .top .top-main .header {
  margin: 0 auto;
  width: 1366px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .top-main .header .menu {
  margin: 0 auto;
  margin-top: 40px;
  width: 941px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.wrapper .top .top-main .header .menu a {
  margin: 0;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .top-main .header .menu a img {
  margin: 0 auto;
  height: inherit;
}
.wrapper .top .top-main .header .menu a .burger {
  height: 32px;
}
.wrapper .top .top-main .header .contacts-title {
  margin: 0 auto;
  margin-top: 41px;
  width: 1366px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-image: url(../../img/contacts-header-img.png);
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper .top .top-main .header .contacts-title .contacts-title-head-2 {
  font-weight: 500;
  font-size: 44px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  text-align: center;
  margin-top: 51px;
  color: #ffffff;
}
.wrapper .top .top-main .header .contacts-title .parag-contacts {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 5%;
  color: #1f3f68;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 49px;
  width: 780px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
.wrapper .top .contacts-content {
  margin: 0 auto;
  margin-top: 57px;
  width: 941px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .contacts-content .contacts-content-box {
  margin: 0 auto;
  width: 941px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.wrapper .top .contacts-content .contacts-content-box .contacts-content-info {
  margin: auto;
  width: 301px;
  height: 668px;
  border-radius: 10px;
  padding-top: 54px;
  padding-bottom: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top .contacts-content .contacts-content-box .contacts-content-info .contacts-content-img {
  align-content: center;
  margin-bottom: 36px;
}
.wrapper .top .contacts-content .contacts-content-box .contacts-content-info .contacts-item {
  margin-top: 40px;
  width: 299px;
}
.wrapper .top .contacts-content .contacts-content-box .contacts-content-info .contacts-item .contacts-item-head-4 {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
}
.wrapper .top .contacts-content .contacts-content-box .contacts-content-info .contacts-item .parag-cont-item {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 5%;
  color: #1f3f68;
  margin-top: 24px;
  width: inherit;
  font-weight: 300;
  letter-spacing: 4%;
  opacity: 0.6;
}
.wrapper .top .contacts-content .contacts-content-box .contacts-content-info .contacts-item .contacts-content-list {
  list-style-type: none;
}
.wrapper .top .contacts-content .contacts-content-box .contacts-content-info .contacts-item .contacts-content-list .contacts-content-list-item {
  margin-top: 16px;
  display: flex;
  justify-content: start;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 5%;
  color: #1f3f68;
  letter-spacing: 4%;
}
.wrapper .top .contacts-content .contacts-content-box .contacts-content-send-form {
  width: 540px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}
.wrapper .top .contacts-content .contacts-content-box .contacts-content-send-form .contacts-content-form-h4 {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
  letter-spacing: 4%;
  margin-top: 56px;
  margin-left: 56px;
  color: #1f3f68;
}
.wrapper .top .contacts-content .contacts-content-box .contacts-content-send-form form .input-field {
  margin-right: 56px;
  margin-top: 48px;
}
.wrapper .top .contacts-content .contacts-content-box .contacts-content-send-form form .input-field label {
  margin-left: 56px;
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 4%;
  color: #1f3f68;
  opacity: 0.8;
}
.wrapper .top .contacts-content .contacts-content-box .contacts-content-send-form form .input-field input {
  width: 428px;
  height: 72px;
  margin-left: 56px;
  border-radius: 10px;
  border: 1px solid #356ead;
  color: #1f3f68;
  text-indent: 36px;
  align-self: center;
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 4%;
  color: #1f3f68;
  opacity: 0.4;
}
.wrapper .top .contacts-content .contacts-content-box .contacts-content-send-form form .message-field {
  margin-right: 56px;
  margin-top: 32px;
}
.wrapper .top .contacts-content .contacts-content-box .contacts-content-send-form form .message-field label {
  margin-left: 56px;
  margin-bottom: 18px;
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 4%;
  color: #1f3f68;
  opacity: 0.8;
}
.wrapper .top .contacts-content .contacts-content-box .contacts-content-send-form form .message-field textarea {
  text-indent: 36px;
  width: 428px;
  height: 144px;
  margin-left: 56px;
  border-radius: 10px;
  border: 1px solid #356ead;
  color: #1f3f68;
  text-indent: 36px;
  align-self: center;
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 4%;
  color: #1f3f68;
  opacity: 0.4;
  padding-top: 21px;
  font-size: 16px;
  font-family: inherit;
}
.wrapper .top .contacts-content .contacts-content-box .contacts-content-send-form form .send-button {
  width: 428px;
  height: 72px;
  margin-left: 56px;
  margin-top: 72px;
  margin-bottom: 56px;
  background-color: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.wrapper .top .map {
  margin: 0 auto;
  margin-top: 96px;
  width: 941px;
}
.wrapper .footer {
  margin: 0 auto;
  margin-top: 112px;
  width: 1366px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border: 2px solid #316099;
  background: #244b7a;
}
.wrapper .footer .footer-top {
  margin: 0 auto;
  width: 941px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.wrapper .footer .footer-top .footer-content-box {
  margin-top: 91px;
  margin-bottom: 96px;
  width: 50%;
  box-sizing: border-box;
}
.wrapper .footer .footer-top .footer-content-box .h3-footer {
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  width: 340px;
  color: #ffffff;
  text-align: left;
}
.wrapper .footer .footer-top .footer-content-box .parag-footer {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 5%;
  color: #1f3f68;
  width: 495px;
  opacity: 0.6;
  color: #ffffff;
  margin-top: 32px;
}
.wrapper .footer .footer-top .footer-button-box {
  margin: 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .footer .footer-top .footer-button-box .footer-button {
  padding: 15px 80px;
  display: inline-block;
  align-self: end;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 4%;
  color: #ffffff;
  background: #5a98d0;
  text-decoration-line: none;
}
.wrapper .footer .footer-line {
  width: 1366px;
  opacity: 0.4;
  color: #ffffff;
}
.wrapper .footer .footer-bottom {
  margin: 0 auto;
  width: 941px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.wrapper .footer .footer-bottom .footer-bottom-box {
  margin-top: 96px;
  width: 941px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.wrapper .footer .footer-bottom .footer-bottom-box .footer-list-box {
  margin: 0;
  width: 282.3px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 5%;
  list-style: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.wrapper .footer .footer-bottom .footer-bottom-box .footer-list-box .footer-list-item {
  margin-bottom: 24px;
  display: flex;
  justify-content: left;
  box-sizing: border-box;
}
.wrapper .footer .footer-bottom .footer-bottom-box .footer-list-box .footer-list-item .footer-list-item-marker {
  padding-left: 0;
}
.wrapper .footer .footer-bottom .footer-bottom-box .footer-list-box .footer-list-item .footer-list-item-text {
  margin-left: 20px;
  width: 317px;
}
.wrapper .footer .footer-bottom .footer-bottom-box .footer-list-box .footer-list-item .logo-2 {
  width: 52px;
  height: 48px;
}
.wrapper .footer .footer-bottom .footer-bottom-box .footer-list-box .footer-list-item .logo-2-head {
  margin-left: 17px;
  font-size: 28px;
  font-weight: normal;
  line-height: 46px;
  letter-spacing: 2%;
  color: #ffffff;
  text-align: start;
}
.wrapper .footer .footer-bottom .footer-bottom-box .footer-list-box .footer-list-item .footer-list-item-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 5%;
  color: #ffffff;
}
.wrapper .footer .footer-bottom .footer-bottom-box .footer-list-box .footer-list-item:first-child {
  margin-top: 0;
  margin-bottom: 33px;
}
.wrapper .footer .footer-bottom .footer-bottom-box .footer-list-box .footer-list-item:last-child {
  margin-bottom: 0;
}
.wrapper .footer .footer-bottom .footer-bottom-box .box-1 {
  width: 322px;
}
.wrapper .footer .footer-bottom .footer-bottom-box .box-2 {
  width: 175px;
}
.wrapper .footer .footer-bottom .footer-bottom-box .box-3 {
  width: 237px;
}
.wrapper .footer .footer-bottom .footer-copy-right {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 5%;
  color: #1f3f68;
  margin-top: 64px;
  margin-bottom: 64px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 5%;
  color: #ffffff;
  opacity: 0.4;
}

/* АДАПТАЦИЯ ПОД ПЛАНШЕТ */
@media (max-width: 1024px) {
  .hero-border {
    background-size: 50%;
    background-position: right bottom;
    margin-left: 0;
    margin-right: 0;
    padding-right: 32px;
    padding-left: 32px;
  }
  .menu {
    margin-top: 36px;
  }
  .head-1 {
    max-width: 504px;
  }
  .parag-h1 {
    max-width: 425px;
  }
  .hero-content {
    width: 100%;
  }
  .top-button {
    margin-top: 72px;
  }
  .card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    min-height: 448px;
    margin-bottom: 32px;
    width: auto;
  }
  .h4-wwd {
    padding-left: 29px;
    padding-right: 41px;
    padding-top: 48px;
    padding-bottom: 13px;
  }
  .parag-wwd {
    padding-left: 29px;
    padding-right: 54px;
    padding-bottom: 27px;
  }
  .card-link {
    padding-left: 29px;
    padding-bottom: 29px;
    max-width: 73px;
  }
  .parag-op {
    width: auto;
    opacity: 1;
    text-align: center;
    color: #222222;
    margin-top: 32px;
  }
  .project-text-2 {
    font-size: 28px;
    line-height: 46px;
  }
  .footer {
    margin-top: 109px;
    background-color: #316099;
  }
  .h3-footer {
    padding-top: 47px;
    max-width: 336px;
  }
  .parag-footer {
    padding-bottom: 64px;
    max-width: 336px;
  }
  .footer-button {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 124px;
    max-height: 32px;
    max-width: 133px;
  }
  .footer-content-box {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer-line {
    max-width: 649px;
  }
  .footer-list-box {
    flex-direction: column;
    margin-left: 124px;
    margin-right: 124px;
  }
  .footer-list-item {
    padding-bottom: 25px;
  }
  .p-copy-right {
    margin-top: 39px;
    margin-left: 125px;
  }
}
/* АДАПТАЦИЯ ПОД ТЕЛЕФОН */
@media (max-width: 667px) {
  .top {
    width: 100%;
  }
  .head-1 {
    width: 100%;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 12px;
    text-align: center;
  }
  .parag-h1 {
    width: 100%;
    text-align: center;
    margin-top: 12;
  }
  .header {
    padding-top: 24px;
  }
  .hero-border {
    margin-left: 0;
    margin-right: 0;
  }
  .hero-content {
    margin-top: 36px;
    width: auto;
  }
  .top-button {
    font-size: 12px;
    line-height: 26px;
    padding: 4px 8px;
    margin-top: 32px;
    max-width: 108px;
    margin-bottom: 41px;
    align-self: center;
  }
  .hero-border {
    display: flex;
    flex-direction: column;
    background-image: none;
  }
  .hero {
    min-height: 376px;
    padding-bottom: 41px;
    box-sizing: border-box;
  }
  .h3-wwd {
    font-size: 24px;
    line-height: 28px;
    margin-top: 48px;
    margin-bottom: 32px;
    margin-left: 17px;
    margin-right: 17px;
  }
  .card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  .card {
    margin-bottom: 32px;
    width: auto;
    min-height: 451px;
  }
  .h4-wwd {
    padding-left: 29px;
    padding-right: 41px;
    padding-top: 48px;
    padding-bottom: 13px;
  }
  .parag-wwd {
    padding-left: 29px;
    padding-right: 54px;
    padding-bottom: 27px;
  }
  .card-link {
    padding-left: 29px;
    margin-bottom: 21px;
  }
  .op-border {
    margin-left: 0;
    margin-right: 0;
  }
  .h3-op {
    font-size: 24px;
    line-height: 28px;
  }
  .parag-op {
    font-size: 16px;
    line-height: 26px;
    padding-left: 16px;
    padding-right: 17px;
  }
  .project-item {
    padding-left: 16px;
    padding-right: 17px;
  }
  .project-text {
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
    padding-right: 17px;
  }
  .project-text-2 {
    left: 16px;
    top: 26px;
    padding-left: 16px;
  }
  .our-project-content-box {
    flex-direction: column;
  }
  .project-img-box {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding-bottom: 16px;
  }
  .project-item-margin {
    margin-top: 0;
  }
  .footer {
    margin-top: 64px;
    border: none;
  }
  .footer-top {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .footer-content-box {
    margin-left: 16px;
    width: 100%;
  }
  .h3-footer {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  .parag-footer {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }
  .footer-button {
    padding-bottom: 4px;
    padding-top: 4px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
    max-height: 31px;
    max-width: 108px;
  }
  .footer-list-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    align-items: flex-start;
  }
  .footer-list-item {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }
  .p-copy-right {
    align-self: center;
    margin-top: 37px;
    margin-bottom: 32px;
    padding-left: 15px;
    padding-right: 17px;
  }
}/*# sourceMappingURL=contacts.css.map */