$site-width: 768px;
$site-height: 768px;
$header-width: 701px;
$header-height: 48px;
$menu-height: $header-height;
$hero-height: 472px;

$card-width: 335px;
$card-height: 448px;
$card-content-width: 264px;
$card-content-height: 205px;
$what-we-do-height: 3 * ($card-height) + 282px;

$projects-height: 282px+ (2 * 253px);
$project-item-width: 336px;
$project-item-height: 253px;
$our-project-height: $projects-height;

$footer-height: 644px;
$footer-top-height: 210px;
$footer-top-content-width: 336px;
$footer-bottom-height: 21px;
$block-width: 701px;
$color-dark: #1f3f68;
$color-light: #5a98d0;
$color-white: #ffffff;
$color-black: #000000;
$color-footer: #316099;

@mixin flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
@mixin flex-horizontal {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
@mixin head-1 {
  font-size: 64px;
  font-weight: lighter;
  line-height: 74px;
  letter-spacing: 4%;
}
@mixin head-2 {
  font-size: 44px;
  font-weight: 500;
  line-height: 74px;
  letter-spacing: 4%;
}
@mixin head-3 {
  font-size: 36px;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 5%;
}
@mixin head-4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 5%;
}
@mixin parag {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 5%;
}
@mixin button {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4%;
  text-align: center;
  border-radius: 10px;
  border: none;
  background-color: $color-light;
  color: $color-white;
}
@mixin card {
  width: $card-width;
  min-height: $card-height;
  @include flex-vertical();
  background: $color-white;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}
@mixin project-item {
  width: $project-item-width;
  height: $project-item-height;
  position: relative;
}
@mixin project-text {
  font-size: 28px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 5%;
  color: $color-white;
  position: absolute;
  top: 19px;
  left: 19px;
  text-align: left;
}
@mixin footer-list-item {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 5%;
  list-style: none;
  color: $color-white;
  @include flex-horizontal();
  justify-content: left;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: $site-width;
  min-height: $site-height;
  @include flex-vertical();
  justify-content: start;
  .top {
    margin: 0 auto;
    width: 100%;
    @include flex-vertical();
    flex-grow: 1;
    header {
      margin: 0 auto;
      width: 100%;
      min-height: $header-height;
      @include flex-vertical();
      justify-content: center;
      .menu {
        margin: 0 auto;
        margin-top: 47px;
        width: $block-width;
        height: $menu-height;
        @include flex-horizontal();
        &__home {
          @include flex-vertical();
          justify-content: center;
        }
        &__contacts {
          @include flex-vertical();
          justify-content: center;
        }
      }
    }
    main {
      margin: 0 auto;
      width: 100%;
      min-height: $site-height;
      @include flex-vertical();
      justify-content: center;
      .hero {
        margin: 0 auto;
        width: 100%;
        min-height: $hero-height;
        @include flex-vertical();
        justify-content: center;
        background: linear-gradient(
          0deg,
          #ebf3fb 8.84%,
          rgba(152, 195, 232, 0) 31.12%
        );
        .hero-block {
          margin: 0 auto;
          margin-bottom: 108px;
          width: $block-width;
          height: auto;
          @include flex-horizontal();
          position: relative;
          &__content {
            margin: 0;
            margin-top: 112px;
            width: 504px;
            height: $hero-height;
            @include flex-vertical();
            justify-content: flex-start;
            &__head {
              @include head-1();
              text-align: left;
              color: $color-dark;
            }
            &__parag {
              margin-top: 32px;
              width: 425px;
              @include parag();
              text-align: left;
              color: $color-dark;
            }
            &__button {
              @include button();
              margin-top: 71px;
              padding: 20px 10px;
              width: 220px;
              display: inline-block;
              text-decoration: none;
              box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
            }
          }
          &__illustration {
            margin: 0;
            margin-top: 292px;
            width: 336px;
            height: 292px;
            @include flex-vertical();
            justify-content: flex-end;
            position: absolute;
            left: 368px;
          }
        }
      }
      .what-we-do {
        margin: 0 auto;
        margin-top: 64px;
        width: 100%;
        min-height: $what-we-do-height;
        @include flex-vertical();
        justify-content: center;
        .what-we-do-block {
          margin: 0 auto;
          width: $block-width;
          height: auto;
          @include flex-vertical();
          justify-content: flex-start;
          flex-wrap: wrap;
          &__head {
            margin: 0 auto;
            width: 90%;
            @include head-3();
            text-align: center;
            color: $color-black;
          }
          &__card-box {
            margin: 0;
            margin-top: 32px;
            width: $block-width;
            height: auto;
            @include flex-vertical();
            &__card {
              margin: 0 auto;
              margin-top: 32px;
              @include card();
              &__img {
                margin-top: 44px;
                @include flex-horizontal();
                justify-content: center;
                position: relative;
                &__img1 {
                  height: 120px;
                  top: 0;
                  left: 0;
                }
                &__img2 {
                  top: -30px;
                  position: absolute;
                }
              }
              &__head {
                @include head-4();
                margin-top: 48px;
                margin-left: 30px;
                width: $card-content-width;
                text-align: left;
                color: $color-dark;
              }
              &__content {
                @include parag();
                margin-top: 13px;
                margin-left: 30px;
                width: $card-content-width;
              }
              &__link {
                margin-top: 30px;
                margin-left: 32px;
                margin-bottom: 41px;
                width: $card-content-width;
                text-decoration-line: none;
              }
              &__link::after {
                content: "\2192";
              }
            }
          }
        }
      }
      .our-project {
        margin: 0 auto;
        margin-top: 127px;
        width: 100%;
        min-height: $our-project-height;
        @include flex-vertical();
        justify-content: center;
        .our-project-block {
          margin: 0 auto;
          width: $block-width;
          height: auto;
          @include flex-vertical();
          justify-content: center;
          &__head {
            margin: 0 auto;
            @include head-3();
            text-align: center;
            color: $color-black;
          }
          &__content {
            margin: 0 auto;
            margin-top: 32px;
            width: $block-width;
            @include parag();
            text-align: center;
            color: $color-black;
          }
          &__box {
            margin: 0;
            margin-top: 64px;
            width: inherit;
            min-height: $project-item-height;
            @include flex-horizontal();
            flex-wrap: wrap;
            &__item {
              @include project-item();
              margin-top: 32px;
              &__first {
                @include project-item();
                width: $block-width;
                height: 297px;
                &__text {
                  @include project-text();
                  font-size: 32px;
                  top: 64px;
                  right: 64px;
                  text-align: right;
                  z-index: 99;
                }
              }
              &__img {
                width: 100%;
                border-radius: 10px;
              }
              &__text {
                @include project-text();
              }
            }
          }
        }
      }
    }
  }
  footer {
    margin: 0 auto;
    margin-top: 109px;
    width: 100%;
    min-height: $footer-height;
    @include flex-vertical();
    justify-content: center;
    background-color: $color-footer;
    .footer-top {
      margin: 0 auto;
      width: 100%;
      min-height: $footer-top-height;
      @include flex-vertical();
      justify-content: center;
      .footer-top-block {
        margin: 0 auto;
        margin-top: 47px;
        width: 100%;
        height: $footer-top-height;
        @include flex-horizontal();
        &__content {
          margin: 0;
          margin-left: 124px;
          width: $footer-top-content-width;
          height: 210px;
          @include flex-vertical();
          &__head {
            @include head-3();
            width: 336px;
            height: 82px;
            color: $color-white;
            text-align: left;
          }
          &__text {
            @include parag();
            margin-top: 32px;
            width: 90%;
            height: 96px;
            opacity: 0.6;
            color: $color-white;
            text-align: left;
          }
        }
        &__button-box {
          margin: 0;
          margin-right: 124px;
          width: $footer-top-content-width;
          @include flex-vertical();
          justify-content: center;
          &__button {
            @include button();
            padding: 3px 1px;
            width: 133px;
            height: 31px;
            display: inline-block;
            align-self: flex-end;
            border-radius: 0;
            text-decoration-line: none;
          }
        }
      }
      .footer-line {
        margin-top: 64px;
        width: 100%;
        opacity: 0.4;
        color: $color-white;
      }
    }
    .footer-bottom {
      margin: 0 auto;
      width: 100%;
      min-height: $footer-bottom-height;
      @include flex-vertical();
      justify-content: center;
      .footer-bottom-block {
        margin: 0 auto;
        margin-top: 64px;
        margin-left: 124px;
        width: 515px;
        height: auto;
        @include flex-vertical();
        &__list-item {
          margin-top: 25px;
          @include footer-list-item();
          font-weight: 300;
          &__marker {
            padding-left: 0;
          }
          &__text {
            margin-left: 37px;
            width: 455px;
          }
        }
        &__list-item:first-child {
          margin-right: 0;
          margin-top: 0;
        }
      }
      .footer-bottom-copy-right {
        margin: 0 auto;
        margin-top: 64px;
        margin-bottom: 64px;
        margin-left: 124px;
        width: 100%;
        @include parag();
        text-align: left;
        color: $color-white;
        opacity: 0.4;
      }
    }
  }
}
