$site-width: 376px;
$site-height: 376px;
$title-height: 250px;
$block-width: 300px;
$form-width: 343px;
$form-height: 514px;
$menu-width: $block-width;
$menu-height: 48px;
$footer-height: 542px;
$map-height: 349px;
$footer-top-height: 180px;
$footer-top-content-width: 343px;
$footer-bottom-height: 36px;
$color-dark: #1f3f68;
$color-light: #5a98d0;
$color-white: #ffffff;
$color-black: #000000;
$color-footer: #316099;

@mixin flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
@mixin flex-horizontal {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
@mixin head-1 {
  font-weight: 300;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #1f3f68;
}
@mixin head-2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 4%;
  color: #1f3f68;
  text-align: center;
}
@mixin head-3 {
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}
@mixin head-4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 4%;
  color: #1f3f68;
}
@mixin head-footer-logo {
  font-size: 28px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: 2%;
  color: $color-white;
}
@mixin parag {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0%;
  color: #1f3f68;
}
@mixin button {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 4%;
  text-align: center;
  border-radius: 10px;
  border: none;
  background-color: $color-light;
  color: $color-white;
}
@mixin form-label {
  margin-left: 36px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 4%;
  color: #1f3f68;
  opacity: 0.8;
}
@mixin form-input {
  width: 272px;
  height: 46px;
  margin-left: 36px;
  border-radius: 10px;
  border: 1px solid #356ead;
  color: #1f3f68;
}
@mixin form-placeholder {
  text-indent: 22px;
  align-self: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 4%;
  color: #1f3f68;
  opacity: 0.4;
}
@mixin form-textarea {
  text-indent: 22px;
  width: 272px;
  height: 92px;
  margin-left: 36px;
  border-radius: 10px;
  border: 1px solid #356ead;
  color: #1f3f68;
}
@mixin form-button {
  width: 272px;
  height: 46px;
  margin-left: 36px;
  margin-top: 46px;
  margin-bottom: 36px;
  background-color: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
@mixin footer-list-item {
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 5%;
  list-style: none;
  color: $color-white;
  @include flex-horizontal();
  justify-content: left;
}

body {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
.wrapper {
  margin: 0 auto;
  width: $site-width;
  min-height: $site-height;
  @include flex-vertical();
  justify-content: flex-start;
  .top {
    margin: 0 auto;
    width: 100%;
    @include flex-vertical();
    justify-content: flex-start;
    flex-grow: 1;
    .top-main {
      width: 100%;
      min-height: $title-height;
      @include flex-vertical();
      header {
        margin: 0 auto;
        width: 100%;
        min-height: $title-height;
        @include flex-vertical();
        justify-content: center;
        .menu {
          margin: 0 auto;
          margin-top: 16px;
          width: $block-width;
          height: $menu-height;
          @include flex-horizontal();
          &__home {
            @include flex-vertical();
            justify-content: center;
          }
          &__contacts {
            @include flex-vertical();
            justify-content: center;
          }
        }
        .title {
          margin: 0 auto;
          margin-top: 25px;
          width: 100%;
          height: $title-height;
          @include flex-vertical();
          justify-content: center;
          background-image: url(../../../img/contacts-header-img.png);
          background-repeat: no-repeat;
          background-position: center;
          &__head {
            @include head-2();
            margin-top: 48px;
            color: #ffffff;
          }
          &__text {
            @include parag();
            margin: 0 auto;
            margin-top: 32px;
            margin-bottom: 61px;
            width: 341px;
            @include parag();
            letter-spacing: 0%;
            text-align: center;
            align-items: center;
            color: $color-white;
          }
        }
      }
    }
    .contacts {
      margin: 0 auto;
      margin-top: 46px;
      width: 100%;
      height: auto;
      @include flex-vertical();
      justify-content: center;
      .contacts-block {
        margin: 0 auto;
        width: $form-width;
        @include flex-vertical();
        &__info {
          margin: 0 auto;
          width: $block-width;
          height: auto;
          @include flex-vertical();
          justify-content: center;
          &__img {
            align-content: center;
            margin-bottom: 64px;
          }
          .contacts-item {
            margin-top: 32px;
            width: $block-width;
            &__head {
              margin: 0;
              @include head-4();
            }
            &__text {
              @include parag();
              margin-top: 24px;
              width: inherit;
              font-weight: 300;
              letter-spacing: 4%;
              color: $color-dark;
              opacity: 0.6;
            }
            &__list {
              list-style-type: none;
              &__item {
                margin-top: 16px;
                @include flex-horizontal();
                justify-content: start;
                @include parag();
                letter-spacing: 4%;
                color: $color-dark;
              }
            }
          }
        }
        &__send-form {
          margin: 0 auto;
          margin-top: 32px;
          width: $form-width;
          min-height: $form-height;
          @include flex-vertical();
          background: #ffffff;
          box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
          border-radius: 10px;
          &__head {
            margin-top: 36px;
            margin-left: 36px;
            @include head-4();
            letter-spacing: 4%;
            color: #1f3f68;
          }
          &__form {
            margin: 0 auto;
            &__input-field {
              margin-right: 36px;
              margin-top: 45px;
              label {
                @include form-label();
              }
              input {
                @include form-input();
                @include form-placeholder();
              }
            }
            &__message-field {
              margin-right: 36px;
              margin-top: 45px;
              label {
                @include form-label();
              }
              textarea {
                @include form-textarea();
                @include form-placeholder();
                padding-top: 13px;
                font-size: 14px;
                font-family: inherit;
              }
            }
            .send-button {
              @include form-button();
            }
          }
        }
      }
    }
    .map {
      margin: 0 auto;
      margin-top: 32px;
      width: 100%;
      height: $map-height;
      border: 1px solid $color-dark;
      box-sizing: border-box;
    }
  }
  .footer {
    margin: 0 auto;
    margin-top: 32px;
    width: 100%;
    min-height: $footer-height;
    @include flex-vertical();
    justify-content: center;
    background-color: $color-footer;
    .footer-top {
      margin: 0 auto;
      width: 100%;
      min-height: $footer-top-height;
      @include flex-vertical();
      justify-content: center;
      .footer-top-block {
        margin: 0 auto;
        margin-top: 91px;
        width: 343px;
        height: $footer-top-height;
        @include flex-vertical();
        justify-content: center;
        &__content {
          margin: 0 auto;
          width: $footer-top-content-width;
          @include flex-vertical();
          &__head {
            margin: 0 auto;
            @include head-3();
            width: 70%;
            font-size: 24px;
            font-weight: 300;
            color: $color-white;
            text-align: center;
          }
          &__text {
            @include parag();
            width: $footer-top-content-width;
            text-align: center;
            font-size: 16px;
            letter-spacing: 5%;
            opacity: 0.6;
            color: $color-white;
          }
        }
        &__button-box {
          margin: 0 auto;
          margin-top: 32px;
          margin-bottom: 32px;
          width: 343px;
          @include flex-vertical();
          justify-content: center;
          &__button {
            margin: 0 auto;
            width: 108px;
            height: 32px;
            @include button();
            padding: 1px 1px;
            display: inline-block;
            align-self: center;
            border-radius: 0;
            text-decoration-line: none;
          }
        }
      }
      .footer-line {
        width: 100%;
        opacity: 0.4;
        color: $color-white;
      }
    }
    .footer-bottom {
      margin: 0 auto;
      width: $block-width;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      .footer-bottom-block {
        margin-top: 32px;
        width: $footer-top-content-width;
        @include flex-vertical();
        &__list-box {
          margin: 0;
          width: $footer-top-content-width;
          @include parag();
          list-style: none;
          color: #ffffff;
          @include flex-vertical();
          &__list-item {
            margin-bottom: 17px;
            @include flex-horizontal();
            justify-content: left;
            &__marker {
              padding-left: 0;
            }
            &__text {
              margin-left: 23px;
              width: 304px;
            }
            &__logo-2 {
              display: none;
              width: 52px;
              height: 48px;
            }
            &__head {
              display: none;
              margin-left: 17px;
              @include head-footer-logo();
              text-align: start;
            }
            &__head4 {
              display: none;
              @include head-4();
              color: #ffffff;
            }
            &__link {
              display: none;
              @include parag();
              text-decoration: none;
              color: $color-white;
            }
          }
          .footer-list-item:first-child {
            margin-top: 0;
            margin-bottom: 17px;
          }
          .footer-list-item:last-child {
            margin-bottom: 0;
          }
        }
        .box-1 {
          width: 304px;
        }
        .box-2 {
          display: none;
          width: 175px;
        }
        .box-3 {
          display: none;
          width: 237px;
        }
      }
      .footer-copy-right {
        @include parag();
        margin-top: 32px;
        margin-bottom: 32px;
        @include parag();
        color: #ffffff;
        opacity: 0.4;
      }
    }
  }
}
